# Environment configuration for ReelRoom
NEXT_PUBLIC_SITE_NAME="AceHost Cotswolds"
NEXT_PUBLIC_SITE_URL="https://acehost.ca"
NEXT_PUBLIC_CURRENT_WEBSITE="cotswolds"

# Port configuration
PORT=3001

# Image optimization
NEXT_PUBLIC_IMAGE_OPTIMIZATION_LEVEL="high" 